@charset "UTF-8";
@import url(./setting.css);


body{
    /* 드래그 방지 */
    webkit-user-select:none;
    moz-user-select:none;
    ms-user-select:none;
    user-select:none
}

h2{
    font-size: 30px;
    font-weight: 500;
}

html body{
    overflow: hidden;
    /* 스크롤 제거 */
}


.wrapper{
    width: 80%;
    height: fit-content;
    min-width: 800px;
    margin: 22px auto;

    background-color: rgb(255, 255, 255);
    
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    justify-content: left;
    align-items: center;
}


.wrapper section{
    margin-right: 4%;
    margin-left: 5%;
}
.wrapper section:nth-last-child(){
    margin-right: 0%;
}

/* 좌우 그라데이션 적용 */
.fixed-gradation{ 
    position: fixed;
    right: 0;
    background-image: url(../img/gradi.png);
    background-size: contain;

    background-blend-mode: lighten;

    width: 15%;
    height: 100vh;
    z-index: 5;
}
.fixed-gradation.fixedR{
    rotate: 180deg;
    right: auto;
    left: 0;
}


/* 역 이미지 보기 (팝업 이미지) */
article#popup-img{
    display: none;
    position: absolute;
    z-index: 9999;
}
article#popup-img #popup-div{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
}
article#popup-img img{
	width: 720px;

    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}
article#popup-img #popup-close{  /* 역 이미지 보러가기의 X버튼. 현재 사용하지 않음.*/
    color: white;
    text-shadow: 1px 1px 4px rgb(77, 77, 77);
    font-size: 55px;
    font-family: 'SUITE-Regular';
    font-weight: 500;
    
    position: absolute;
    top: 10%;
    left: 69%;
   
    cursor: pointer;
}



    /* !!!!!!!!!! START LEFT !!!!!!!!!! */
section#left{
    background-color: #025f16;
    /* ! 이미지는 확인을 위해 임의로 넣음. */
    background-image: url(https://ssl.pstatic.net/sstatic/keypage/outside/subway/img/220718/smap_sg_all.png);
    background-size: 500%;
    background-position: center;
    background-blend-mode: luminosity;
    
    /* width: 36%; */
    min-width: 520px;
    width: 1000px;
    height: 600px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    font-family: 'HANAMDAUM';
}
section#left::before{ 
    content: '';

    background-color: #00A84D;
    width: 100%;
    height: 110px;
    box-shadow: 0px 7px 1px rgba(6, 94, 14, 0.9);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 0;
}

/* LEFT에서 화살표 생성 */
section#left .arrow{
    font-size: 40px;
    color: rgb(199, 238, 24);
    z-index: 99;
    text-shadow: 2px 2px 1px rgb(150, 201, 12);
    /*cursor: pointer;*/
}
section#left .arrow#arrow-left{ margin-left: 12%; }
section#left .arrow#arrow-right{ margin-right: 11%; }


section#left .left-map{ 
    background-color: white;
    border: 20px inset #00A84D;
    box-shadow: 5px 5px 1px #156d28;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;

    margin: 0 auto
}

/* 양 옆 작은 원 */
section#left .serve-map{ 
    border: 5px solid #00A84D;
    height: 130px;
    width: 130px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
section#left .mapL{ margin-left: -340px; } /*작은 원 위치조절*/
section#left .mapR{ margin-left: 340px; }

/* 999 ~~역 문구 */
section#left .station{ 
    position: relative;
    top: 50%;

    transform: translate(0, -50%);
    text-align: center;
}

section#left .station h1{
    /* 역 이름 */
    font-size: 36px;
    font-weight: 700;
    margin: 5px 0 15px;
}
section#left .station h3{ 
    /* 역 번호 */
    color: #156d28;
    font-size: 28px; 
}
section#left .serve-map .station h3{
    /* 옆 역의 역번호 */
    font-size: 20px; 
}
section#left .serve-map .station h1{
    /* 옆 역의 역 이름 */
    font-size: 23px;
    font-weight: 600;
}
/* END LEFT */



    /* !!!!!!!!!! START Center !!!!!!!!!! */
section#center{
    box-shadow: 3px 3px 15px #9aa19b;
    border-radius: 15px;
    
    min-width: 420px;
    width: 600px;
    min-height: 600px;
    height: 70%;
    overflow: hidden;
    font-family: 'GongGothicMedium';
    
    display: flex;
    align-items: center;
}
section#center .center-details { /*  */
    margin: 20px;
    width: 100%;
    padding-bottom: 35px;
    height: fit-content;
}


section#center .center-details h2{ /* Details 문구 */
    text-align: center;
    font-size: 13px;

    width: fit-content;
    border: 1px solid rgb(165, 165, 165);
    margin: 30px auto 30px;
    padding: 2px;
}

/* 역이름 */
section#center .center-details .main-station{ 
    display: flex;
    margin: 30px 0 27px 10%;
}
section#center .center-details .main-station h3{ /* 역 이름 */
    margin-left: 20px;
    line-height: 0.45;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.1;
}
section#center .center-details .main-station svg{
    scale: 2.0;
}


/* 영문명 한자 일본어 */
section#center .center-details .other-name{ 
    font-family: '맑은 고딕';
    font-size: 12px;
    font-style: italic;
    color: rgb(168, 168, 168);
    
    text-align: right;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-right: 25px;
}

/* 역 이미지 보러가기 */
section#center p#show-station-img{ 
    color: goldenrod;
    text-decoration: underline;
    font-size: 14px;
    
    font-weight: 200;
    text-align: right;
    margin-top: 8px;
    margin-right: 25px;

    transition: 0.2s;
    cursor: pointer;
}
section#center p#show-station-img:hover{
    text-shadow: 0 0 2px #d4fae6;
}




/* detail 정보 시작 */
section#center .details { 
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
}
section#center .details h5{
    width: fit-content;
    margin: 0 auto;
    padding: 5px 0;
    font-size: 18px;
}
section#center .details > * {
    margin: 25px 0;
    text-align: center;
}



/* 환승역 */
.details .transferLine{ margin: 10px auto; }
.details .transferLine h5{ margin-bottom: 10px; }
.details .transferLine .transferImg > *:nth-of-type(n+2) { margin-left: 5%; } /* 환승역 아이콘 간격 조정 */

.details strong { /* 강조하는 글씨 */
    color: #00A84D;
    font-size: 1.1em;
}

/* 탑승 위치 */
.details .exit-LR h5 span{
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0 6px;

    font-size: 0.95em;
    font-weight: 300;
    color: darkgray;
    opacity: 1;
}
.details .exit-LR h5 span.select,
.details .cross-platform h5 span.select{ 
    box-shadow: 0 0 5px aliceblue;
    background-color: rgb(216, 237, 255);
    border: 1px groove rgb(216, 237, 255);
    border-radius: 2px;

    color: #000000;
    opacity: 1;
    font-size: 1.05em;
    font-weight: 500;
}
.details .exit-LR h5 span.left{ /* right와 크기 맞추기 */
    padding: 2px 16px; 
}

/* 반대편 승강장 출입 여부 */
.details .cross-platform h5 span{
    width: fit-content;
    height: fit-content;
    color: darkgray;
    font-weight: 300;
    font-size: 0.9em;
}



/* 첫차, 막차 조정 */
.center-details table{ 
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}
.center-details table tr:nth-of-type(1){  border-bottom: 1px solid #000000;  }
.center-details table tr > *{  padding: 5px 10px;  }
.center-details table tr th{  font-weight: 500; font-size: 0.95em; }
.center-details table tr td{  color: #00A84D;  }
/* END Center */




/* !!!!!!!!!! START RIGHT !!!!!!!!!!*/
section#right{
    box-shadow: 3px 3px 15px #9aa19b;
    border-radius: 15px;
    
    background-color: #f1f1f1;
    min-width: 500px;
    width: 800px;
    min-height: 650px;
    height: 75%;

    overflow: hidden;
    font-family: 'GongGothicMedium';
}
section#right .right-board{
    width: 100%;
    margin: 20px 20px 20px 0;
    position: relative;
}
#right .right-board h2{ /* 추천 명소 */
    font-size: 26px;
    color: #303030;

    width: fit-content;
    margin: 50px 0 25px 55px;
    padding: 2px;
}


#right .right-board>div{
    border-top: 1.5px solid gray;
    background-color: white;
    width: 90%;
    height: fit-content;
    padding: 20px 0;
    margin: 0 auto 20px;

    box-sizing: border-box;
}
#right .right-board>div:nth-last-of-type() { margin-bottom: 0px; } /* 맨 하단 마진제거 */
#right .right-board > div > div{ display: flex; }

section#right .right-board > div > div > h1{ /* 지하철아이콘 */
    /* background-color: rgb(208, 241, 241); */
    padding-left: 15px;
    font-size: 29px;
    font-weight: 700;
}


#right .right-board > div > div > .content{ 
    margin-left: 15px;
    max-width: 350px;
}
#right .right-board > div > div > .content h4{ /* 제목 */
    font-size: 21px;
    font-weight: 500;
    line-height: 1.2;
    text-indent: 10px;
    margin-bottom: 5px;
}
#right .right-board > div > div > .content h3{ /* 작성자 */
    font-size: 13px;
    font-weight: 300;
    text-indent: 10px;
    color: #00A84D;
}
#right .right-board > div > div > .content p{ /* 본문 */
    margin-top: 10px;
    font-size: 15px;
    font-weight: 200;
    text-indent: 10px;
    line-height: 1.2;
    color: darkgray;
}
#right .right-board #board-more{ /* 더 많은 게시글 보러가기 */
    color: gray;
    width: 90%;
    font-size: 15px;
    text-align: right;
    margin: 12px 0px 0 0;
}
#right .right-board #board-empty{ /* 조회된 게시글이 없습니다 */
    color: gray;
    width: 80%;
    
    border-top: 1px solid gray;
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;
}
/* END RIGHT */









