@charset "UTF-8";
@import url(./setting.css);


/* user의 form 기초 설정값 */
input, select{
    font: unset;
    border: none;
    background-color: #f1f1f1;
}
button{
    all: unset;
    display: inline-block;
    background-color: #f1f1f1;
}


/* input type=radio 설정 START*/
.condition input[type="radio"]{
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
}
.condition input[type="radio"]:checked {
    border: 0.4em solid #00A84D;
}
.condition input[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #00A84D;
}
.condition input[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}
.condition input[type="radio"] {  /* 애니메이션 */
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    transition: border 0.3s ease-in-out;
}
/* input type=radio 설정 END!!!  */



.wrapper .main{
    width: 80%;
    min-width: 800px;
    height: 100%;
    margin: 0 auto;

    background-color: white;
    
    padding: 30px;
    box-sizing: border-box;

}


/* !!!!!!!!!!!!!!! section 조건창 START */
section.condition{
    height: fit-content;
    width: 80%;
    margin: 40px auto 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 17px;
    font-family: 'GongGothicMedium';

    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 6px gray;
    padding: 15px;

}
section.condition:nth-child(){
    margin: 0 15px;
    width: fit-content;
    height: fit-content;
    background-color: #00A84D;
    
    display: flex;
    justify-content: center;
    flex-flow: column;
}
section.condition div > h4{
    font-family: 'GongGothicMedium';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgb(63, 63, 63);
    margin-bottom: 7px;
}
section.condition .watercloset-inout > h4{
    opacity: 0;
    color: #f1f1f1;
}




/* 환승역 선택란 */
/* .cross-platform{
    
} */
.cross-platform select{
    width: 148px;
    padding: 6px 7px 6px 0;
    border-radius: 5px;

    text-indent: 3px;
    border-right: 10px solid #f1f1f1;
    transition: 0.6s;
}
.cross-platform select:focus{
    width: 180px;
    background-color: #ffffff;
    border-color: #ffffff;
}



/* 문 열리는 방향 선택
    개찰구 전 역내 화장실 유무 */
.open-doorside{
    font-family: 'HANAMDAUM';
}
.open-doorside .key-button{
    font-size: 17px;
}
.watercloset-inout .key-button{
    font-size: 14px;
}
.open-doorside > div,
.watercloset-inout > div{
    width: fit-content;
    height: fit-content;
    padding: 3px 6px 2px;
    border-radius: 8px;
    border: 2px outset #f1f1f1;

    background-color: #f1f1f1;
    box-shadow: -2px 2px 2px gray;
    transition: 0.15s;
}
.watercloset-inout div.wc-select{ /* 버튼이 눌려있는 상태 */
    background-color: #00A84D;
    border-color: #12c465;
    box-shadow: -2px 2px 4px gray;
    color: white;
}


.condition .key-button{
    width: fit-content;
    height: 20px;
    border-radius: 10px;
    padding: 0px 5px 0 2px;
}

.condition label{
    padding: 2px;
}
.condition label:hover{
    cursor: pointer;
}

.watercloset-inout > div{
    cursor: pointer;
    height: 37.25px;
}
.watercloset-inout > div > span{
    line-height: 26px;
}


/* 역 이름 검색기능 */
.station-search form input[type="text"]{
    width: 180px;
    padding: 6px 7px 6px 0;
    border-radius: 5px;

    text-indent: 8px;
    border-right: 10px solid #f1f1f1;
    transition: 0.6s;
}
.station-search form input[type="text"]:focus{
    width: 200px;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}
.station-search form input[type="submit"]{
    color: rgb(78, 78, 78);
    border: 1px solid gray;
    padding: 0 15px;
    height: 28px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px gray;

    margin-left: 5px;
    transition: 0.1s;
}
.station-search form input[type="submit"]:active{
    background-color: #e7e7e7;
}

/* !!!! section 조건창 END */



/* ///////////////////////////////////////////////////// */

/* !!!!!!!!!!!!!!! section Map start */
section.metro-maps{
    height: 100%;
    margin-top: 150px;
    margin-left: 200px;
}

.metro-maps #map-box{
    width: 1100px;
    height: 450px;

    border-radius: 80px;
    border: 8px solid #00A84D;
    
    margin: 0 auto;
    position: relative;
}
.metro-maps #map-box .station .st-circle{
    width: 23px;
    height: 23px;
    background-color: #00A84D;
    border-radius: 50%;
    margin: 0 auto;
}
.metro-maps #map-box .station .st-circle.cross-station{
    /* 환승 가능 역 강조표시 */
    width: 26px;
    height: 26px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #00A84D;
    scale: 1.3;

}
.metro-maps #map-box .station .st-name{
    font-size: 15px;
    text-align: center;
}
/* 글자역(이름) 위치 조정 (마진) */
.metro-maps #map-box #map-top .station .st-name,
.metro-maps #map-box #map-top-out .station .st-name,
.metro-maps #map-box #map-left-out .station .st-name{ margin-bottom: 7px; }
.metro-maps #map-box #map-bottom .station .st-name,
.metro-maps #map-box #map-bottom-out .station .st-name{ margin-top: 7px; }
.metro-maps #map-box #map-left .station .st-name{ margin-right: 7px; } 
.metro-maps #map-box #map-right .station .st-name,
.metro-maps #map-box #map-right-out .station .st-name{ margin-left: 7px; }

.metro-maps #map-box #map-left .station:nth-child(2) .st-name{ 
	/* 신도림역 이름 오른쪽 정렬 */
    margin-right: 0; 
    margin-left: 7px; 
    position: relative;
    left: 55px;
} 


.metro-maps #map-box #map-top,
.metro-maps #map-box #map-bottom{
    width: inherit;
    height: fit-content;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.metro-maps #map-box #map-left,
.metro-maps #map-box #map-right{
    width: fit-content;
    height: inherit;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.metro-maps #map-box #map-top{ top: -9%; align-items: end; }
.metro-maps #map-box #map-bottom{ bottom: -9%; flex-flow: row-reverse; align-items: flex-start; }
.metro-maps #map-box #map-left{ left: -9%; flex-flow: column-reverse; align-items: flex-end; }
.metro-maps #map-box #map-right{ right: -9%; flex-flow: column; align-items: flex-start; }

.metro-maps #map-box #map-left .station,
.metro-maps #map-box #map-right .station{
    /* left & right 가로배열 */
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 외부선로 조정 */
.metro-maps #map-Kkachisan{
    position: absolute;
    bottom: 107px;
    left: -118px;
    transform: translate(-50%, 0%);
    /* background-color: tomato; */
}
.metro-maps #map-Sinseoldong{
    position: absolute;
    right: -8px;
    top: 5px;
    transform: translate(0, -50%);
    /* background-color: tomato; */
}

#map-box .overflow-box{ /* 역 숨기기 */
    overflow: hidden;
    position: relative;
}
#map-Kkachisan .overflow-box{ width: 224px; height: 60px;}
#map-Sinseoldong .overflow-box{ width: 120px;  height: 210px; }

#map-box .outline{
    border-radius: 45px;
    border: 8px solid #00A84D;
    position: absolute;
}
#map-Kkachisan .outline{  width: 300px; height: 170px;  bottom: 0; }
#map-Sinseoldong .outline{  width: 220px; height: 270px;  right: 0; }



/*  외부선로 역 위치 조정 */
#map-box #map-top-out,
#map-box #map-bottom-out,
#map-box #map-left-out,
#map-box #map-right-out{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
}
#map-box #map-left-out{ /* 까치산 */
    width: fit-content; /* hidden 따라갈 예정 */
    height: fit-content;
    left: -21px;
    bottom: 38px;
}
#map-box #map-bottom-out{ /* 까치산쪽 역x3 */
    width: 215px; 
    height: fit-content;
    bottom: -30px;
    left: -2px;
}

#map-box #map-right-out{ /* 신설동쪽 역x2 */
    width: fit-content; 
    height: 120px;
    top: -4px;
    right: -40px;
    flex-flow: column-reverse;
}
#map-box #map-top-out{ /* 신설동, +역1 */
    width: 170px; 
    height: fit-content;
    top: -26px;
    right: 6px;
}

#map-box #map-right-out .station{
    display: flex;
}




