@charset "UTF-8";
@import url(./setting.css);


/* user의 form 기초 설정값 */
input, select{
    font: unset;
    border: none;
    background-color: #f1f1f1;
}
button{
    all: unset;
    display: inline-block;
    background-color: #f1f1f1;
}


/* input type=radio 설정 START*/
.condition input[type="radio"]{
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
}
.condition input[type="radio"]:checked {
    border: 0.4em solid #00A84D;
}
.condition input[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #00A84D;
}
.condition input[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}
.condition input[type="radio"] {  /* 애니메이션 */
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    transition: border 0.3s ease-in-out;
}
/* input type=radio 설정 END!!!  */



.wrapper .main{
    width: 80%;
    min-width: 800px;
    height: 100%;
    margin: 0 auto;

    background-color: white;
    
    padding: 30px;
    box-sizing: border-box;

}


/* !!!!!!!!!!!!!!! section 조건창 START */
section.condition{
    height: fit-content;
    width: 80%;
    margin: 40px auto 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 17px;
    font-family: 'GongGothicMedium';

    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 6px gray;
    padding: 15px;

}
section.condition:nth-child(){
    margin: 0 15px;
    width: fit-content;
    height: fit-content;
    background-color: #00A84D;
    
    display: flex;
    justify-content: center;
    flex-flow: column;
}
section.condition div > h4{
    font-family: 'GongGothicMedium';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 7px;
}
section.condition .watercloset-inout > h4{
    color: #f1f1f1;
}




/* 환승역 선택란 */
/* .cross-platform{
    
} */
.cross-platform select{
    width: 148px;
    padding: 6px 7px 6px 0;
    border-radius: 5px;

    text-indent: 3px;
    border-right: 10px solid #f1f1f1;
    transition: 0.6s;
}
.cross-platform select:focus{
    width: 180px;
    background-color: #ffffff;
    border-color: #ffffff;
}



/* 문 열리는 방향 선택
    개찰구 전 역내 화장실 유무 */
.open-doorside{
    font-family: 'HANAMDAUM';
}
.open-doorside .key-button{
    font-size: 17px;
}
.watercloset-inout .key-button{
    font-size: 14px;
}
.open-doorside > div,
.watercloset-inout > div{
    width: fit-content;
    height: fit-content;
    padding: 3px 6px 2px;
    border-radius: 8px;
    border: 2px outset #f1f1f1;

    background-color: #f1f1f1;
    box-shadow: -2px 2px 2px gray;
    transition: 0.15s;
}
.watercloset-inout div.wc-select{ /* 버튼이 눌려있는 상태 */
    background-color: #00A84D;
    border-color: #12c465;
    box-shadow: -2px 2px 4px gray;
    color: white;
}


.condition .key-button{
    width: fit-content;
    height: 20px;
    border-radius: 10px;
    padding: 0px 5px 0 2px;
}

.condition label{
    padding: 2px;
}
.condition label:hover{
    cursor: pointer;
}

.watercloset-inout > div{
    cursor: pointer;
    height: 37.25px;
}
.watercloset-inout > div > span{
    line-height: 26px;
}


/* 역 이름 검색기능 */
.station-search form input[type="text"]{
    width: 180px;
    padding: 6px 7px 6px 0;
    border-radius: 5px;

    text-indent: 8px;
    border-right: 10px solid #f1f1f1;
    transition: 0.6s;
}
.station-search form input[type="text"]:focus{
    width: 200px;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}
.station-search form input[type="submit"]{
    color: rgb(78, 78, 78);
    border: 1px solid gray;
    padding: 0 15px;
    height: 28px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px gray;

    margin-left: 5px;
    transition: 0.1s;
}
.station-search form input[type="submit"]:active{
    background-color: #e7e7e7;
}

/* !!!! section 조건창 END */




/* !!!!!!!!!!!!!!! section Map start */
section.metro-maps{
    height: 100%;
    background-color: aliceblue;
}
section.metro-maps .map-contain{
    width: fit-content;
    height: fit-content;

    margin: 50px auto 0;
    background-color: darkred;
    display: flex;
    flex-flow: column;
}

/* 길이, 위치 지정 */
/* .metros {
    background-color: green;
} */
.metros.map-row{
    width: 1000px;
    height: 30px;

    display: flex;
}
#map-middle .metros.map-column{
    width: 30px;
    height: 400px;
}

.metros#map-top,
.metros#map-middle,
.metros#map-bottom{
    width: 1060px;
    display: flex;
    justify-content: space-between;
}
.metros#map-top{
    background-color: lightgray;
}
.metros#map-middle{
    background-color: gray;
    height: fit-content;
}
.metros#map-bottom{
    background-color: darkgray;
}
.metros.map-empty{
    background-color: darkslateblue;
    width: 30px;
    height: 30px;
}
/* //// */




.metro#map-center,
.metro#map-bottom-center{
    width: 1000px;
}

.map-contain #map-top-center{
    width: 1000px;
    height: 30px;
    
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}
.metros#map-center{
    background-color: yellow;
    width: 1000px;
    height: 400px;
}




#map-top-center .station{
    width: 100%;
    height: 100%;
}
#map-top-center .station .st-circle{
    width: 25px;
    height: 25px;
    background-color: #d9ffeb;
    border-radius: 50%;
    z-index: 100;
}
#map-top-center .st-name{
    font-size: 13px;
    
}
