@charset "UTF-8";
@import url(./setting.css);


body{
      /* 드래그 방지 */
      webkit-user-select:none;
      moz-user-select:none;
      ms-user-select:none;
      user-select:none
}





/* user의 form 기초 설정값 */
input, select{
    font: unset;
    border: none;
    background-color: #f1f1f1;
}
button{
    all: unset;
    display: inline-block;
    background-color: #f1f1f1;
}


/* input type=radio 설정 START*/
.condition input[type="radio"]{
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
}
.condition input[type="radio"]:checked {
    border: 0.4em solid #00A84D;
}
.condition input[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #00A84D;
}
.condition input[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}
.condition input[type="radio"] {  /* 애니메이션 */
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    transition: border 0.3s ease-in-out;
}
/* input type=radio 설정 END!!!  */



.wrapper .main{
    width: 80%;
    min-width: 800px;
    height: 100%;
    margin: 0 auto;

    background-color: white;
    
    padding: 30px;
    box-sizing: border-box;

}


/* !!!!!!!!!!!!!!! section 조건창 START */
section.condition{
    height: fit-content;
    min-width: 850px;
    width: 80%;
    margin: 40px auto 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 17px;
    font-family: 'GongGothicMedium';

    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 6px gray;
    padding: 15px;

}
section.condition:nth-child(){
    margin: 0 15px;
    width: fit-content;
    height: fit-content;
    background-color: #00A84D;
    
    display: flex;
    justify-content: center;
    flex-flow: column;
}
section.condition div > h4{
    font-family: 'GongGothicMedium';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgb(63, 63, 63);
    margin-bottom: 7px;
}
section.condition .watercloset-inout > h4{
    opacity: 0;
    color: #f1f1f1;
}




/* 환승역 선택란 */
.cross-platform select{
    width: 148px;
    padding: 6px 7px 6px 0;
    border-radius: 5px;

    text-indent: 3px;
    border-right: 10px solid #f1f1f1;
    transition: 0.6s;
    cursor: pointer;
}
.cross-platform select:focus{
    width: 180px;
    background-color: #ffffff;
    border-color: #ffffff;
}



/* 문 열리는 방향 선택
    개찰구 전 역내 화장실 유무
    조회하기 버튼 */
.open-doorside{ font-family: 'HANAMDAUM'; min-width: 150px;}  /* 사이즈, 폰트사이즈 설정 */
.watercloset-inout{ min-width: 150px; }
.open-doorside .key-button{ font-size: 16px; }
.watercloset-inout .key-button{ font-size: 14px; }
.lookup .key-button{ font-size: 16px; }


.open-doorside > div,
.watercloset-inout > div,
.lookup div{
    width: fit-content;
    height: fit-content;
    padding: 3px 6px 2px;
    border-radius: 8px;
    border: 2px outset #f1f1f1;

    background-color: #f1f1f1;
    box-shadow: -2px 2px 2px gray;
    transition: 0.1s;
}
.watercloset-inout div.wc-select{ /* 버튼이 눌려있는 상태 */
    background-color: #00A84D;
    border-color: #12c465;
    box-shadow: -2px 2px 4px gray;
    color: white;
}

.condition .key-button{
    min-width: fit-content;
    max-width: 120px;
    height: 20px;
    border-radius: 10px;
    padding: 0px 5px 0 2px;
}
.condition label{ padding: 2px; }
.condition label:hover{ cursor: pointer; }

.watercloset-inout > div{
    cursor: pointer;
    height: 37.25px;
}
.watercloset-inout > div > span{
    line-height: 26px;
}

/* 조회하기 버튼 */
.lookup{ margin-left: 10px; }  
.lookup div{ 
    color: white;
    font-weight: 400;
    padding: 20px 30px 17px;
    background-color: rgb(145, 145, 145);
    border: 2px outset rgb(145, 145, 145);
    text-shadow: 0 0 0 goldenrod;
    cursor: pointer;
 }
.lookup div:hover{ 
    background-color: darkgray; 
    border-color: darkgray;
    text-shadow: 1px 1px 6px goldenrod;
}




/* 역 이름 검색기능 */
.station-search form input[type="text"]{
    width: 180px;
    padding: 6px 7px 6px 0;
    border-radius: 5px;

    text-indent: 8px;
    border-right: 10px solid #f1f1f1;
    transition: 0.6s;
}
.station-search form input[type="text"]:focus{
    width: 200px;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}
.station-search form input[type="submit"]{
    color: rgb(78, 78, 78);
    border: 1px solid gray;
    padding: 0 15px;
    height: 28px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px gray;

    margin-left: 5px;
    transition: 0.1s;
}
.station-search form input[type="submit"]:active{
    background-color: #e7e7e7;
}

/* !!!! section 조건창 END */



/* ///////////////////////////////////////////////////////////////// 
//////////////////////////////////////////////////////////////////  */

/* !!!!!!!!!!!!!!! section Map start */
section.metro-maps{
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    margin-left: 50px;
    margin-top: 90px;
}

.metro-maps #map-box{
    width: 1070px;
    height: 450px;

    border-radius: 80px;
    border: 8px solid #00A84D;
    
    margin: 0 auto;
    position: relative;
}
.metro-maps #map-box .station .st-circle{
    width: 25px;
    height: 25px;
    background-color: #00A84D;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}
.metro-maps #map-box .station .st-circle.cross-station{
    /* 환승 가능 역 강조표시 */
    width: 27px;
    height: 27px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #00A84D;
}
.metro-maps #map-box .station .st-name{
    width: max-content;
    height: max-content;
    font-size: 16px;
    text-align: center;
    font-family: 'GongGothicMedium';
    font-weight: 400;
}


/* 글자역(이름) 위치 조정 (마진) */
.metro-maps #map-box #map-top .station .st-name,
.metro-maps #map-box #map-top-out .station .st-name,
.metro-maps #map-box #map-left-out .station .st-name{ margin-bottom: 8px;}
.metro-maps #map-box #map-bottom .station .st-name,
.metro-maps #map-box #map-bottom-out .station .st-name{ margin-top: 8px;}
.metro-maps #map-box #map-left .station .st-name{ margin-right: 8px; } 
.metro-maps #map-box #map-right .station .st-name,
.metro-maps #map-box #map-right-out .station .st-name{ margin-left: 8px; }

.metro-maps #map-box #map-top .station .st-name, /* 위 아래 글자 줄개행 */
.metro-maps #map-box #map-bottom .station .st-name{ width: 67px; line-height: 1.1;} 

.metro-maps #map-box #map-left .station:nth-child(2) .st-name,
.metro-maps #map-box #map-left .station:nth-child(1) .st-name{ 
	/* 신도림역, 대림 이름 오른쪽 정렬 */
    margin-right: 0; 
    position: relative;
    left: 80px;
} 
.metro-maps #map-box #map-left .station:nth-child(1) .st-name{ left: 67px; }

.metro-maps #map-box #map-top,
.metro-maps #map-box #map-bottom{
    width: inherit;
    height: fit-content;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.metro-maps #map-box #map-left,
.metro-maps #map-box #map-right{
    width: fit-content;
    height: inherit;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.metro-maps #map-box #map-top{ top: -17.7%; align-items: end; position: relative; }
.metro-maps #map-box #map-bottom{ bottom: -17.6%; flex-flow: row-reverse; align-items: flex-start; }
.metro-maps #map-box #map-left{ left: -9.4%; flex-flow: column-reverse; align-items: flex-end; }
.metro-maps #map-box #map-right{ right: -9.5%; flex-flow: column; align-items: flex-start; }

.metro-maps #map-box #map-left .station,
.metro-maps #map-box #map-right .station{
    /* left & right 가로배열 */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 양끝 역 위치조정 */
#map-box #map-top .station:nth-child(1){ position: relative; left: 10px; bottom: -3px; } 
#map-box #map-top .station:nth-child(14){ position: relative; right: 10px; bottom: -3px; } 
#map-box #map-bottom .station:nth-child(1){ position: relative; right: 10px; top: -3px; } 
#map-box #map-bottom .station:nth-child(14){ position: relative; left: 10px; top: -3px; } 
#map-box #map-left .station:nth-child(1){ position: relative; left: 8px; bottom:-2px; } 
#map-box #map-left .station:nth-child(7){ position: relative; left: 6px; top:-2px; }
#map-box #map-right .station:nth-child(1){ position: relative; right: 5px; top:5px; } /* 성수 */
#map-box #map-right .station:nth-child(8){ position: relative; right: 11px; bottom:-2px; }


/* 외부선로 조정 */
.metro-maps #map-Kkachisan{
    position: absolute;
    bottom: 95px;
    left: -123px;
    transform: translate(-50%, 0%);
}
.metro-maps #map-Sinseoldong{
    position: absolute;
    right: -3px;
    top: -96px;
    transform: translate(0, -50%);
}
.metro-maps #map-Sindap{
    position: absolute;
    right: -18px;
    top: -111px;
    transform: translate(-50%, 0%);
}

/* 외부선로 역 숨기기 */
#map-box .overflow-box{ 
    overflow: hidden; position: relative; z-index: -999;} 
#map-Kkachisan .overflow-box{ width: 213px; height: 50px;}
#map-Sinseoldong .overflow-box{ width: 120px;  height: 30px; }
#map-Sindap .overflow-box{ width: 30px;  height: 135px; }

#map-box .outline{
    border-radius: 45px;
    border: 8px solid #00A84D;
    position: absolute;
}
#map-Kkachisan .outline{  width: 258px; height: 140px;  bottom: 0; }
#map-Sinseoldong .outline{  width: 220px; height: 270px;  right: 0; }
#map-Sindap .outline{  width: 220px; height: 270px;  right: 0; }



/*  외부선로 동그라미(역) 위치 조정 */
#map-box #map-top-out,
#map-box #map-bottom-out,
#map-box #map-left-out,
#map-box #map-right-out{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}
#map-box #map-left-out{ /* 까치산 */
    width: fit-content; /* hidden 따라갈 예정 */
    height: fit-content;
    left: -20px;
    bottom: 38px;
}
#map-box #map-bottom-out{ /* 까치산쪽 역x3 */
    width: 210px; 
    height: fit-content;
    bottom: -48px;
    left: -5px;
    align-items: flex-start;
}

#map-box #map-right-out{ /* 신설동쪽 역x2 */
    width: fit-content; 
    height: 120px;
    top: -4px;
    right: -45px;
    flex-flow: column-reverse;
}
#map-box #map-top-out{ /* 신설동, +역1 */
    width: 170px; 
    height: fit-content;
    top: -33px;
    right: 6px;
    align-items: flex-start;
}

#map-box #map-right-out .station{
    display: flex;
    align-items: center;
}

#map-box #map-Kkachisan {z-index: 999;}
#map-box #map-Sinseoldong {z-index: 999;}
#map-box #map-Sindap {z-index: 999;}





/* 애니메이션 */
.metro-maps #map-box,
.metro-maps #map-box .station,
.metro-maps #map-box .station .outline,
.metro-maps #map-box .station .st-name,
.metro-maps #map-box .station .st-circle{ transition: 0.4s; }


.metro-maps #map-box .station.station-hover{
    scale: 1.4;
    text-shadow: 1px 1px 3px rgb(185, 185, 184);
}
.metro-maps #map-box .station.station-hover .st-circle.cross-station{
    border: 6px solid #00A84D;
}

#map-box #map-top .station:not(:nth-child(9)).station-hover,
#map-box #map-top-out .station.station-hover{ margin-bottom: 12px;}
#map-box #map-bottom .station:nth-child(-n+13).station-hover,
#map-box #map-bottom-out .station:nth-child(n+2).station-hover{ margin-top: 7px;}
#map-box #map-left .station:not(:nth-child(4)).station-hover{ margin-right: 10px;}
#map-box #map-right .station:nth-child(-n+7).station-hover{ margin-left: 10px;}

.metro-maps #map-box .station.station-nothover .st-circle{
    background-color: #45f095;
    border-color: #45f095;
    box-shadow: 0 0 2px #45f095;
}
.metro-maps #map-box .station.station-nothover .st-name{
    color: gray;
}



/* lookup으로 선택된 station 효과주기 */
#map-box .station.lookup-class{
   text-shadow: 0px 0px 1px gold;
}
#map-box .station.lookup-class .st-circle{
    background-color: gold;
    box-shadow: 1px 1px 1px rgb(255, 206, 83);
    border: 3px solid gold;
    padding: 1px;
}
#map-box .station.lookup-class .st-circle.cross-station{
    border: 7px solid gold;
    background-color: rgb(255, 255, 255);
    padding: 1px;
}

/* lookup에서 검색결과가 없을 경우 등장 */
.wrapper.main #not-select{
    display: none;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    
    color: goldenrod;
    font-family: 'GongGothicMedium';
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
    transition: 0.3s;
}
.wrapper.main #not-select.shake {
    display: block;
    animation: shake 0.3s linear alternate;
}

@keyframes shake {
    0% {
		transform: translateX(10%);
	}
	26% {
		transform: translateX(-52.27%);
	}
	45% {
		transform: translateX(-32.88%);
	}
	69% {
		transform: translateX(-44.63%);
	}
	82% {
		transform: translateX(-38.36%);
	}
	100% {
		transform: translateX(-50%);
	}
}
