@import url(./setting.css);



.red-background{
    background-color: #d84936 !important;
}
.red-typo{
    color: #d84936 !important;
}





.wrapper{
    width: 80%;
    height: 100%;
    min-width: 800px;
    margin: 0 auto;

    background-color: rgb(255, 255, 255);
    
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    justify-content: left;
    align-items: center;
}
.wrapper.login{
    display: block;
}
body{
    overflow: scroll; 
}


/* 
    일정 이상 스크롤되면 left의 width 값 min으로 고정 
    (메인 역 하나만 보이게) 
    일정 이상 스크롤 되면 클래스 추가해서 scale 조정
*/


/* //////////////////////////////////////////////// */

input{
    all: unset;
}
select{
    font: unset;
    border: none;
}
button{
    all: unset;
    display: inline-block;
}
button:active{
    background-color: #00A84D;
}



.wrapper.login{
	font-family: 'GongGothicMedium';
}
.wrapper.user-join{
    font-family: 'GongGothicMedium';
    padding-bottom: 150px;
    display: block;
}
.wrapper.user-join section{
    display: flex;
    margin-top: 80px;
    position: relative;
}
.login .title,
.user-join .title{
    border-bottom: 2px solid #303030;
}
.login .title h1,
.user-join .title h1{
	margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 12px;
    color: #808080;
    font-weight: 400;
    font-size: 30px;
}



.wrapper.user-join form{
    letter-spacing: 0.04em;
    width: 1000px;
    min-width: 700px;
    position: relative;
}
.wrapper.login form input#joinBtn{ /* 회원가입 버튼 */
    background-color: #00A84D;
    width: 100px;
    color: white;
    font-weight: 700;
}
.wrapper.login form input#joinBtn:hover{
    background-color: #156d28;
    box-shadow: 0px 0px 5px #00A84D;
    border: #ffffff;
}


.wrapper.login input,
.wrapper.user-join input,
.wrapper.user-join select{
    margin: 30px 0px 8px;
    
    width: 270px;
    padding: 9px 10px 9px 0;
    border-radius: 5px;
    background-color: #e6e6e6;

    text-indent: 15px;
    transition: 0.6s;
    letter-spacing: 1.5;
}
.user-join form input[name=userId]{
    margin-top: 15px;  /* 맨 위 인풋에만 마진 적용 줄이기 */
}
.user-join input:focus{
    background-color: #00A84D;
    width: 350px;
    color: #ffffff;
}
.user-join input:focus::placeholder{
    color: #ffffff;
}

.wrapper.user-join input[name="userEmail1"]{  width: 230px;  }
.wrapper.user-join input[name="userEmail1"]:focus{  width: 270px;  }

.wrapper.user-join select{
    width: 200px;
    border-right: 10px solid #e6e6e6;
}
.wrapper.user-join select:focus{
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    width: 230px;
}
/* .user-join option{
    text-indent: 15px;
    padding: 3px 10px 3px 0;
    box-sizing: content-box;
    border-radius: 6px;
    border: 0px solid gray;

    overflow: hidden;
    cursor: pointer;
    transition: 0.6s;
}
.user-join option:hover{
    background-color: #f3f3f3;
} */

.wrapper.user-join form input.mail-check-input{ /* 인증번호란 */
    width: 220px;
    font-size: 13.5px;
    padding: 7px 3px 7px 0;
    margin: 15px 0px 8px;
}
.wrapper.user-join form input.mail-check-input[disabled="disabled"]{
    background-color: #f5f5f5;
    color: #b3b3b3;
}
/* .wrapper.user-join form input.mail-check-input:active{
    width: 230px;
    background-color: #00A84D;
} */


/* p태그 처리 */
.user-join p{
    font-size: 14px;
    font-weight: 400;
    text-indent: 8px;
    color: #00A84D;
}
.user-join p#msgEmail{ opacity: 0; } /* 일부 p태그 숨김처리 */


/* 중복확인, 이메일 인증 버튼 */
.wrapper button{
    color: rgb(78, 78, 78);
    font-size: 15px;

    height: 35px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    background-color: #ffffff;

    margin-left: 10px;
    padding: 0 15px;
    transition: 0.1s;
}
.wrapper button:hover{
    background-color: #ececec;
}


/* 회원가입 로고 */
.user-join .simbol-line{
    width: 2px;
    height: 520px;
    border: 1.5px solid #aaaaaa;
    margin: 30px 50px 0px 30px;

    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-between;
}
.user-join .simbol-line2{
    width: 30%;
    height: 2px;
    margin-left: 30px;
    position: absolute;
    bottom: 0px;
    
    border: 1px solid #bebebe;
    
}

.user-join .simbol{ 
    min-width: 50px;  min-height: 50px;
    width: 50px;  height: 50px;
    
    background-color: white;
    border: 15px inset #00A84D;
    box-shadow: 4px 4px 1px #156d28;
    border-radius: 50%;
    margin:  30px 0 20px;

    z-index: 1;
    position: absolute;
    transform: translate(-52%, -100%);
}
.user-join .green-circle{ 
    min-width: 20px;  min-height: 20px;
    width: 20px;  height: 20px;
    background-color: #00A84D;
    /* 조건 틀리면 빨간색으로 바뀌어도 좋을듯 */
    border-radius: 50%;
    
    transform: translate(-50%, -50%);

    z-index: 1;
}
.user-join .simbol-line .green-circle:nth-of-type(6) {
    width: 0px; height: 0px;
    min-width: 0; min-height: 0;

    margin-top: 70px;
    border-radius: 0%;
    background-color: #adadad;
}



#joinBtn{
    width: 150px;
    height: 30px;
    color: white;
    background-color: #00A84D;
    border-radius: 10px;
    
    text-align: center;

    margin-left: 250px;
    transform: translate(-50%, 0);
    position: absolute;

}


/* //////// START 로그인 디자인 */
.wrapper.login .title h1{
    margin-top: 60px;
}

.wrapper.login .login-box{
    width: fit-content;
    padding: 10px 15px;

    display: flex;
    justify-content: center;
    flex-flow: column;
    
    border: 1px solid lightgrey;
    border-radius: 7px;
    margin: 100px auto 0;
    padding: 40px 50px;
    position: relative;

}
.wrapper.login .login-box #loginForm{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3px 0 7px;
}
.login-box #loginForm .answer-box{ display: block; }

/* 로그인, 비밀번호 */
.login-box #loginForm input{ margin: 0; }
.login-box #loginForm .answer-box input{
    width: 250px;
    margin: 7px 0;
    padding: 10px ;
    padding: 15px 10px 15px 0;
    text-indent: 20px;
}
.login-box #loginForm .answer-box input:focus{ background-color: #c9c9c9; }
.login-box #loginForm .answer-box input:focus::placeholder{ color: rgb(32, 32, 32); }


.wrapper.login #loginBtn{ /* 로그인 버튼 */
    height: 105px;
    width: 100px;
    color: white;
    background-color: #00A84D;
    margin-left: 20px;
    margin-right: 5px;
	
	font-size: 17px;
    box-sizing: border-box;
    transition: 0.1s;
    text-align: center;
}
.wrapper.login #loginBtn:hover{
    background-color: #009646;
    text-shadow: 0 0 7px #ffe815;
}

.wrapper.login #join-link{ /* 계정이 없으신가요? */
    font-size: 13px;
    font-weight: 300;
    color: gray;
    text-decoration: underline;
    
    position: absolute;
    bottom: -30px;
    text-align: left;
    margin: 20px 12px 0 0;

}

/*/ ////////////////////////////////// */













