<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.JspSubway.placeboard.mapper.IPlaceBoardMapper">

	<resultMap type="place" id="boardMap">
		<result property="userId" column="user_id" />
		<result property="sco" column="station_code" />
		<result property="addrZipNum" column="addr_zip_num" />
		<result property="addrBasic" column="addr_basic" />
		<result property="addrDetail" column="addr_detail" />
		<result property="placeUrl" column="place_url" />
		<result property="sname" column="station_name" />
	</resultMap>
	
	<resultMap type="station" id="stationMap">
		<result property="sname" column="station_name" />
        <result property="sco" column="station_code" />
        <result property="ec" column="exit_count" />
        <result property="wcio" column="watercloset_inout" />
        <result property="ods" column="open_doorside" />
        <result property="cp" column="cross_platform" />
        <result property="fs" column="first_subway_time" />
        <result property="ls" column="last_subway_time" />
	</resultMap>

	<insert id="write">
		INSERT INTO placeboard
		(user_id, station_code, title, content, addr_zip_num, addr_basic, addr_detail, place_url)
		VALUES
		(#{userId}, #{sco}, #{title}, #{content}, #{addrZipNum}, #{addrBasic}, #{addrDetail}, #{placeUrl})
	</insert>

	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM placeboard
	</select>
	
	<select id="getList" resultMap="boardMap">
		SELECT bno, user_id, p.station_code, title, content, addr_zip_num, addr_basic, addr_detail, place_url, 
			write_date, update_date,
			s.station_name 
		FROM placeboard p
		LEFT JOIN station s
		ON p.station_code = s.station_code
		ORDER BY bno DESC
		LIMIT #{pageStart} , #{cpp}
	</select>
	
	<select id="getContent" resultType="place">
		SELECT * FROM placeboard
		WHERE bno = #{bno}
	</select>
	
	<select id="getSco" resultMap="stationMap">
		SELECT * FROM station
	</select>

</mapper>