<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.JspSubway.placeboard.mapper.IPlaceBoardMapper">

	<resultMap type="place" id="boardMap">
		<result property="userId" column="user_id" />
		<result property="sco" column="station_code" />
		<result property="addrZipNum" column="addr_zip_num" />
		<result property="addrBasic" column="addr_basic" />
		<result property="addrDetail" column="addr_detail" />
		<result property="placeUrl" column="place_url" />
	</resultMap>

	<insert id="write">
		INSERT INTO placeboard
		(user_id, station_code, title, content, addr_zip_num, addr_basic, addr_detail, place_url)
		VALUES
		(#{userId}, #{sco}, #{title}, #{content}, #{addrZipNum}, #{addrBasic}, #{addrDetail}, #{placeUrl})
	</insert>

	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM placeboard
	</select>
	
	<select id="getList" resultType="place">
		SELECT * FROM placeboard
		ORDER BY bno DESC
		LIMIT #{pageStart} , #{cpp}
	</select>
</mapper>