<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.JspSubway.placeboard.mapper.IPlaceBoardMapper">

	<resultMap type="place" id="boardMap">
		<result property="userId" column="user_id" />
		<result property="sno" column="station_num" />
		<result property="addrZipNum" column="addr_zip_num" />
		<result property="addrBasic" column="addr_basic" />
		<result property="addrDetail" column="addr_detail" />
		<result property="placeUrl" column="place_url" />
	</resultMap>

	<insert id="write">
		INSERT INTO placeboard
		(user_id, station_num, title, content, addr_zip_num, addr_basic, addr_detail, place_url)
		VALUES
		(#{userId}, #{sno}, #{title}, #{content}, #{addrZipNum}, #{addrBasic}, #{addrDetail}, #{placeUrl})
	</insert>


</mapper>