<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.JspSubway.station.mapper.IStationMapper">
	
	<resultMap type="station" id="stationMap">
		<result property="sname" column="station_name" />
        <result property="sco" column="station_code" />
        <result property="ec" column="exit_count" />
        <result property="wcio" column="watercloset_inout" />
        <result property="ods" column="open_doorside" />
        <result property="cp" column="cross_platform" />
        <result property="fs" column="first_subway_time" />
        <result property="ls" column="last_subway_time" />
        <collection property="subway" resultMap="subwayMap"/>
	</resultMap>
	
	 <resultMap type="subway" id="subwayMap">
		<result property="snameEng" column="station_name_eng" />
		<result property="snameChn" column="station_name_chn" />
		<result property="snameJpn" column="station_name_jpn" />
		<result property="tline1" column="transferline1" />
		<result property="tline2" column="transferline2" />
		<result property="tline3" column="transferline3" />
	</resultMap> 
	
	<!-- <resultMap type="station" id="stationMap">
		<result property="sname" column="station_name" />
        <result property="sco" column="station_code" />
		<result property="snameEng" column="station_name_eng" />
		<result property="snameChn" column="station_name_chn" />
		<result property="snameJpn" column="station_name_jpn" />
		<result property="tline1" column="transferline1" />
		<result property="tline2" column="transferline2" />
		<result property="tline3" column="transferline3" />
        <result property="ec" column="exit_count" />
        <result property="wcio" column="watercloset_inout" />
        <result property="ods" column="open_doorside" />
        <result property="cp" column="cross_platform" />
        <result property="fs" column="first_subway_time" />
        <result property="ls" column="last_subway_time" />
	</resultMap> -->
	
	<sql id="prevStn"><!-- 이전역 -->
		<choose>
			<when test="{sco} == 2010"><!-- sco가 2010(시청역)일떄 -->
				WHERE sco = #{2470}
			</when>	
			<otherwise>
				WHERE sco = #{sco}-10
			</otherwise>		
		</choose>
	</sql>
	
	<sql id="nextStn">
		<choose>
			<when test="{sco} == 2470"><!-- sco가 1일떄 -->
				WHERE sco = #{2010}
			</when>	
			<otherwise>
				WHERE sco = #{sco}+10
			</otherwise>		
		</choose>		
	</sql>
	
	<sql id="sungsuLine">
		<choose>
			<when test="{sco} == 2110">
				WHERE sco = #{2110}
			</when>	
			<when test="{sco} == 2111">
				WHERE sco = #{2111}
			</when>	
			<when test="{sco} == 2112">
				WHERE sco = #{2112}
			</when>	
			<when test="{sco} == 2113">
				WHERE sco = #{2113}
			</when>	
			<when test="{sco} == 2114">
				WHERE sco = #{2114}
			</when>	
		</choose>
	</sql>
	
	<sql id="sinjeongjiLine">
		<choose>
			<when test="{sco} == 2340">
				WHERE sco = #{2340}
			</when>	
			<when test="{sco} == 2341">
				WHERE sco = #{2341}
			</when>	
			<when test="{sco} == 2342">
				WHERE sco = #{2342}
			</when>	
			<when test="{sco} == 2343">
				WHERE sco = #{2343}
			</when>	
			<when test="{sco} == 2344">
				WHERE sco = #{2344}
			</when>	
		</choose>
	</sql>
	
	
	<select id="getStationInfo" resultMap="stationMap"> <!-- 역 정보 가져오기 -->
		SELECT * FROM station s JOIN subwayline2 sl2
		WHERE s.station_code = #{sco} AND sl2.station_code = #{sco}
	</select>
	
	<!-- <select id="prevStation" resultType="station"> 이전역 정보
		SELECT * FROM station s JOIN subwayline2 sl2
		<include refid="prevStn" />
	</select> -->
	
	<!-- <select id="nextStation" resultType="station"> 다음역 정보
		SELECT * FROM station s JOIN subwayline2 sl2
		<include refid="nextStn" />
	</select> -->
	
	<select id="sungsuStation"> <!-- 성수지선 -->
		SELECT * FROM station
		<include refid="sungsuLine" />
	</select>
	
	<select id="sindolimStation"> <!-- 신도림선 -->
		SELECT * FROM station
		<include refid="sinjeongjiLine" />
	</select> 
	
</mapper>   