<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.spring.JspSubway.user.mapper.ISubwayUserMapper">

	<resultMap type="user" id="userMap">
		<result property="userId" column="user_id" />
		<result property="userPw" column="user_pw" />
		<result property="userName" column="user_name" />
		<result property="userEmail1" column="user_email1" />
		<result property="userEmail2" column="user_email2" />
		
	</resultMap>


	<insert id="join">
		INSERT INTO users
		(user_id, user_pw, user_name, user_email1, user_email2)
		VALUES(#{userId}, #{userPw}, #{userName}, #{userEmail1}, #{userEmail2});
	</insert>
	
	<select id="login" resultType="string">
		SELECT user_pw FROM users
		WHERE user_id=#{userId}
	</select>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM users
		WHERE user_id = #{userId}
	</select>
	
</mapper>