<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.JspSubway.subway.mapper.ISubwayMapper">
	
	<!-- mysql은 CONCAT변수가 가변인수 -->
	<sql id="search">
		<if test="condition == 'ec'">
			WHERE ec LIKE CONCAT('%', #{keyword},'%')
		</if>
		<if test="condition == 'wcio'">
			WHERE wcio LIKE CONCAT('%', #{keyword},'%')
		</if>
		<if test="condition == 'ods'">
			WHERE ods LIKE CONCAT('%', #{keyword},'%')
		</if>
		<if test="condition == 'cf'">
			WHERE cf LIKE CONCAT('%', #{keyword},'%')
		</if>
		
		<if test="condition == 'manyQs'">
			WHERE ec LIKE CONCAT('%', #{keyword},'%')
			OR wcio LIKE CONCAT('%', #{keyword},'%')
		</if>
	</sql>
	
	<select id="getStation">
		SELECT * FROM subway
		WHERE sno = #{sno}
	</select>

	<select id="getStations">
		SELECT * FROM subway
		<include refid="search"/>
	</select>
	
</mapper>   